@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


/** Image Slider CSS*/

/* Replace #fc4958 with color: #029D71; */

.slider {
  margin: auto;
  position: relative;
  height: 58vw;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-family: "Nunito", sans-serif;
  padding-bottom: 3vw;
}

.header{
  padding-top: 10vw;
  padding-bottom: 3vw;
  font-size: 3vw;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: green;
  font-style: italic; 

}

@media screen and (max-width: 425px){
  .header{
    font-size: 1.5rem;
  }
}

#slide-element{
  width: 65vw;
}

.right-arrow {
  left: 80vw;
  position: absolute;
  font-size: calc(2.5vw + 2.5vh);
  color: #000;
  cursor: pointer; 
  user-select: none;
  top: 35%;
  display: flex;
  z-index: 10;
  opacity: 0.5;
}

.right-arrow:hover {
  left: 80vw;
  position: absolute;
  font-size: calc(2.5vw + 2.5vh);
  color: #000;
  cursor: pointer; 
  user-select: none;
  top: 35%;
  display: flex;
  z-index: 10;
  opacity: 1.0;
}

.left-arrow {
  right: 80vw;
  position: absolute;
  font-size: calc(2.5vw + 2.5vh);
  color: #000;
  cursor: pointer; 
  user-select: none;
  top: 35%;
  display: flex;
  z-index: 10;
  opacity: 0.5;
}

.left-arrow:hover {
  right: 80vw;
  position: absolute;
  font-size: calc(2.5vw + 2.5vh);
  color: #000;
  cursor: pointer; 
  user-select: none;
  top: 35%;
  display: flex;
  z-index: 10;
  opacity: 1.0;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

